Node-red_backup.txt
[{"id":"c8a0f548.c941b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d42efe36.53d5b","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1a8b56d5.16a4c9","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"14044d81.0175d2","type":"ui_group","name":"Default","tab":"d42efe36.53d5b","order":1,"disp":true,"width":"6","collapse":false},{"id":"fd9dc8d2.897698","type":"ui_tab","name":"TV Control","icon":"dashboard","disabled":false,"hidden":false,"info":"Controling IR TV"},{"id":"67b958f6.c73538","type":"ui_group","name":"TVControl","tab":"fd9dc8d2.897698","order":1,"disp":true,"width":"6","collapse":false},{"id":"7cccb8c9.9e39b8","type":"ui_group","name":"Temp Control","tab":"fd9dc8d2.897698","order":2,"disp":true,"width":"6","collapse":false},{"id":"9c697862.f55b68","type":"ui_tab","name":"Temp","icon":"dashboard","disabled":false,"hidden":false},{"id":"11942a98.fe67d5","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"ef2c5d0.2eebea","type":"ui_group","name":"Group 1","tab":"11942a98.fe67d5","order":1,"disp":true,"width":6},{"id":"cfe35dc8.0685a","type":"ui_group","name":"PowerControl","tab":"fd9dc8d2.897698","order":4,"disp":true,"width":"6","collapse":false},{"id":"9d7d7503.73bd18","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"60c4a72a.e29e18","type":"ui_group","name":"OUT Information","tab":"fd9dc8d2.897698","order":3,"disp":true,"width":"6","collapse":false},{"id":"d78588bf.ced438","type":"ui_tab","name":"TV Control","icon":"dashboard","disabled":false,"hidden":false,"info":"Controling IR TV"},{"id":"fd71e594.db8e78","type":"ui_group","name":"TVControl","tab":"d78588bf.ced438","order":1,"disp":true,"width":"6","collapse":false},{"id":"63e546fc.b4d0c8","type":"ui_group","name":"Temp Control","tab":"d78588bf.ced438","order":2,"disp":true,"width":"6","collapse":false},{"id":"3ad11149.5129ce","type":"ui_tab","name":"Temp","icon":"dashboard","disabled":false,"hidden":false},{"id":"e0a6f773.4471a8","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"a9c1aae7.c28208","type":"ui_group","name":"Group 1","tab":"e0a6f773.4471a8","order":1,"disp":true,"width":6},{"id":"176d22bc.fd4a3d","type":"ui_group","name":"PowerControl","tab":"d78588bf.ced438","order":4,"disp":true,"width":"6","collapse":false},{"id":"3f514b04.bbe6c4","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52f138f6.479978","type":"ui_group","name":"OUT Information","tab":"d78588bf.ced438","order":3,"disp":true,"width":"6","collapse":false},{"id":"e73f3e0e.3f029","type":"notify-events-channel","name":"kk","token":"jk"},{"id":"8c3cb7c3.ada928","type":"notify-events-channel","name":"kk","token":"jk"},{"id":"65c07c08.b9b3f4","type":"ui_button","z":"c8a0f548.c941b8","name":"POWER","group":"fd71e594.db8e78","order":1,"width":"6","height":"2","passthru":false,"label":"POWER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PO","payloadType":"str","topic":"home/IR","topicType":"msg","x":540,"y":360,"wires":[["8f700bd3.334f68"]]},{"id":"efe45833.62fd58","type":"ui_button","z":"c8a0f548.c941b8","name":"VOLUP","group":"fd71e594.db8e78","order":2,"width":"3","height":"3","passthru":false,"label":"VOLUP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"VU","payloadType":"str","topic":"home/IR","topicType":"msg","x":540,"y":420,"wires":[["8f700bd3.334f68"]]},{"id":"65de0be3.406dd4","type":"ui_button","z":"c8a0f548.c941b8","name":"VOLDOWN","group":"fd71e594.db8e78","order":3,"width":"3","height":"3","passthru":false,"label":"VOLDOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"VD","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":480,"wires":[["8f700bd3.334f68"]]},{"id":"70148dad.a554e4","type":"ui_gauge","z":"c8a0f548.c941b8","name":"","group":"63e546fc.b4d0c8","order":2,"width":0,"height":0,"gtype":"gage","title":"Home Temperture","label":"°C","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":1200,"wires":[]},{"id":"7d943daf.52cd44","type":"ui_chart","z":"c8a0f548.c941b8","name":"","group":"63e546fc.b4d0c8","order":1,"width":"6","height":"3","label":"Home Temperture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":610,"y":1260,"wires":[[]]},{"id":"61f00813.a8e168","type":"ui_button","z":"c8a0f548.c941b8","name":"ChanelDown","group":"fd71e594.db8e78","order":5,"width":"3","height":"3","passthru":false,"label":"ChanelDown","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CD","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":540,"wires":[["8f700bd3.334f68"]]},{"id":"de7e2f5c.67f35","type":"ui_button","z":"c8a0f548.c941b8","name":"ChanelUP","group":"fd71e594.db8e78","order":4,"width":"3","height":"3","passthru":false,"label":"ChanelUP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"CU","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":600,"wires":[["8f700bd3.334f68"]]},{"id":"f9f8a08e.61e16","type":"ui_switch","z":"c8a0f548.c941b8","name":"","label":"TVPower","tooltip":"","group":"176d22bc.fd4a3d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"home/lamp","topicType":"msg","style":"","onvalue":"R1ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"R1OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":560,"y":1020,"wires":[["3cb432cc.4b5ffe"]]},{"id":"5b6c00fa.2a6ee","type":"ui_switch","z":"c8a0f548.c941b8","name":"","label":"Bedroom Light","tooltip":"","group":"176d22bc.fd4a3d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"home/lamp","topicType":"msg","style":"","onvalue":"R2ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"R2OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":580,"y":1100,"wires":[["3cb432cc.4b5ffe"]]},{"id":"8f700bd3.334f68","type":"mqtt out","z":"c8a0f548.c941b8","name":"","topic":"home/IR","qos":"","retain":"","broker":"3f514b04.bbe6c4","x":840,"y":360,"wires":[]},{"id":"a23ff1.bf87201","type":"mqtt in","z":"c8a0f548.c941b8","name":"","topic":"home/temp","qos":"1","datatype":"json","broker":"3f514b04.bbe6c4","x":330,"y":1180,"wires":[["70148dad.a554e4","7d943daf.52cd44"]]},{"id":"3cb432cc.4b5ffe","type":"mqtt out","z":"c8a0f548.c941b8","name":"","topic":"home/lamp","qos":"","retain":"","broker":"3f514b04.bbe6c4","x":860,"y":1040,"wires":[]},{"id":"b1fe1e1d.6e05d","type":"ui_button","z":"c8a0f548.c941b8","name":"","group":"fd71e594.db8e78","order":7,"width":"3","height":"3","passthru":false,"label":"\\/","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DOWN","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":660,"wires":[["8f700bd3.334f68"]]},{"id":"633dada0.196e94","type":"ui_button","z":"c8a0f548.c941b8","name":"","group":"fd71e594.db8e78","order":8,"width":"3","height":"3","passthru":false,"label":"/\\","tooltip":"","color":"","bgcolor":"","icon":"","payload":"UP","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":700,"wires":[["8f700bd3.334f68"]]},{"id":"425d1c78.f81d54","type":"ui_button","z":"c8a0f548.c941b8","name":"Left","group":"fd71e594.db8e78","order":9,"width":"3","height":"3","passthru":false,"label":"<-------","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LEFT","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":740,"wires":[["8f700bd3.334f68"]]},{"id":"47cbbe7a.fa02d","type":"ui_button","z":"c8a0f548.c941b8","name":"Right","group":"fd71e594.db8e78","order":10,"width":"3","height":"3","passthru":false,"label":"------->","tooltip":"","color":"","bgcolor":"","icon":"","payload":"RIGHT","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":780,"wires":[["8f700bd3.334f68"]]},{"id":"9b31d4b3.153348","type":"ui_button","z":"c8a0f548.c941b8","name":"","group":"fd71e594.db8e78","order":11,"width":"2","height":"1","passthru":false,"label":"EXIT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"EXIT","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":820,"wires":[["8f700bd3.334f68"]]},{"id":"9962a143.50cb4","type":"ui_button","z":"c8a0f548.c941b8","name":"","group":"fd71e594.db8e78","order":12,"width":"2","height":"1","passthru":false,"label":"Home","tooltip":"","color":"","bgcolor":"","icon":"","payload":"HOME","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":860,"wires":[["8f700bd3.334f68"]]},{"id":"d5ca54c7.60ea38","type":"openweathermap","z":"c8a0f548.c941b8","name":"","wtype":"current","lon":"","lat":"","city":"bushehr","country":"iran","language":"en","x":540,"y":140,"wires":[["d8f76160.fd001","483872e.2cfcf8c","b104edba.e769a"]]},{"id":"e2184299.27ffa","type":"inject","z":"c8a0f548.c941b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":140,"wires":[["d5ca54c7.60ea38"]]},{"id":"f7331cd9.99f75","type":"ui_gauge","z":"c8a0f548.c941b8","name":"","group":"63e546fc.b4d0c8","order":3,"width":"6","height":"4","gtype":"donut","title":"OUT Temperture","label":"°C","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":140,"wires":[]},{"id":"d8f76160.fd001","type":"change","z":"c8a0f548.c941b8","name":"","rules":[{"t":"move","p":"payload.tempc","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":140,"wires":[["f7331cd9.99f75","d2b6182e.d058b8"]]},{"id":"8c84b89b.d351b8","type":"ui_text","z":"c8a0f548.c941b8","group":"63e546fc.b4d0c8","order":5,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":1070,"y":200,"wires":[]},{"id":"483872e.2cfcf8c","type":"change","z":"c8a0f548.c941b8","name":"","rules":[{"t":"move","p":"payload.detail","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":200,"wires":[["8c84b89b.d351b8","d2b6182e.d058b8"]]},{"id":"b104edba.e769a","type":"change","z":"c8a0f548.c941b8","name":"","rules":[{"t":"move","p":"payload.humidity","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":260,"wires":[["d2b6182e.d058b8","b636b071.629f1"]]},{"id":"d2b6182e.d058b8","type":"debug","z":"c8a0f548.c941b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":80,"wires":[]},{"id":"a1e870ab.295cd","type":"ui_button","z":"c8a0f548.c941b8","name":"MENU","group":"fd71e594.db8e78","order":13,"width":"2","height":"1","passthru":false,"label":"MENU","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MENU","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":900,"wires":[["8f700bd3.334f68"]]},{"id":"2bdc4433.59a62c","type":"ui_button","z":"c8a0f548.c941b8","name":"ENTER","group":"fd71e594.db8e78","order":6,"width":"6","height":"2","passthru":false,"label":"ENTER","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ENTER","payloadType":"str","topic":"home/IR","topicType":"msg","x":560,"y":940,"wires":[["8f700bd3.334f68"]]},{"id":"bf90a80e.b528a8","type":"ui_button","z":"c8a0f548.c941b8","name":"MUTE","group":"fd71e594.db8e78","order":14,"width":"2","height":"1","passthru":false,"label":"MUTE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"MUTE","payloadType":"str","topic":"home/IR","topicType":"msg","x":550,"y":980,"wires":[["8f700bd3.334f68"]]},{"id":"b636b071.629f1","type":"ui_gauge","z":"c8a0f548.c941b8","name":"","group":"63e546fc.b4d0c8","order":4,"width":"6","height":"3","gtype":"wave","title":"OUT Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1110,"y":320,"wires":[]}]